.divContainerHome {
  background-image: url("https://images.pexels.com/photos/1001682/pexels-photo-1001682.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Quicksand";
  padding-bottom: 2rem;
}

.divhome {
  padding: 1.5rem;
}

.titlehome {
  margin: 0 auto;
  width: 36rem;
  font-size: 30px;
  font-weight: 500;
  color: #205685;
  /* color: #16347e; */
}

.phome {
  color: #16347e;
  font-size: 18px;
}

.divcolumns {
  display: grid;
  grid-template-columns: repeat(3, 18rem);
  gap: 2rem;
  justify-content: center;
}

.divshomeinfo {
  border: solid black 1px;
  background-color: #16337e75;
  height: 58rem;
  color: rgba(245, 245, 245, 0.831);
  font-size: 26px;
  font-weight: 450;
}

.titleshome {
  font-size: 30px;
  font-weight: 600;
  color: rgba(245, 245, 245, 0.831);
  margin-bottom: 1rem;
}

@media only screen and (max-width: 400px) {
  .divContainerHome {
    width: 100%;
    height: max-content;
  }
  .divhome {
    width: 390px;
  }
  .titlehome {
    width: 100%;
    font-size: 22px;
    color: rgba(255, 217, 0, 0.324);
  }
  .titleshome {
    width: 100%;
    font-size: 22px;
  }
  .divcolumns {
    width: 100%;
    height: 100%;
    font-size: 16px;
    gap: 1px;
    margin-left: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 8rem);
  }
  .divshomeinfo {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .divContainerHome {
    width: 100%;
  }
  .divhome {
    width: 100%;
  }
  .divcolumns {
    width: 100%;
    display: flex;
    height: 100%;
  }
  .titlehome {
    width: 100%;
    font-size: 26px;
  }
  .titleshome {
    width: 100%;
    font-size: 20px;
  }
  .divshomeinfo {
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
}

@media only screen and (max-width: 900px) {
  .divContainerHome {
    width: 100%;
  }
  .divhome {
    width: 100%;
  }
  .divcolumns {
    width: 100%;
    gap: 1rem;
    display: flex;
    height: 100%;
  }
  .divshomeinfo {
    width: 100%;
    font-size: 22px;
  }
}
