.divcontainerfaqs {
  /* background-image: url("../../assets/pexels-photo-1452701.jpeg"); */
  background-image: url('https://images.pexels.com/photos/1001682/pexels-photo-1001682.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: 60%; */
  font-family: 'Quicksand';
}
