.divcontainerInfo {
  /* background-image: url("https://images.pexels.com/photos/1072842/pexels-photo-1072842.jpeg?auto=compress&cs=tinysrgb&w=1600"); */
  /* background-image: url("https://images.pexels.com/photos/1452701/pexels-photo-1452701.jpeg?auto=compress&cs=tinysrgb&w=1600"); */
  /* background-image: url("../../assets/pexels-photo-1452701.jpeg"); */
  background-image: url('https://images.pexels.com/photos/1001682/pexels-photo-1001682.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: 60%; */
  font-family: 'Quicksand';
}

.titleInfo {
  font-size: 38px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 1rem;
  font-family: 'Quicksand';
}

.divInfo {
  background-color: #16337e75;
  width: 48rem;
  padding: 1rem;
  margin: 0 auto;
  color: azure;
  font-weight: 400;
  /* font-family: "Latin Modern Roman"; */
  font-family: 'Quicksand';
  font-size: 18px;
}

.textInfo {
  text-align: start;
}

.listInfo {
  margin-left: 1rem;
  list-style: disc;
  text-align: left;
}
