.contactform {
  /* background-color: antiquewhite; */
  height: 45rem;
  width: 65rem;
  margin: 0 auto;
}

.h1contact {
  font-size: 38px;
  font-weight: 500;
  color: #205685;
}

.pcontact {
  color: #205685;
}

input:invalid {
  background-color: #ea040429;
}

input:required:invalid {
  border: solid 1px;
  border-color: #ea0404;
}

p.danger {
  color: #ea0404;
  font-size: 14px;
  font-weight: 600;
}

.titleform {
  font-size: 32px;
  font-weight: 400;
  color: #205685;
}

.divformcontact {
  height: 10rem;
  /* background-color: aquamarine; */
}

.inputcontactform {
  height: 2rem;
  width: 22rem;
  margin: 1rem;
  background: none;
  border-bottom: black solid 1px;
}

.mensajecontactform {
  margin-top: 1rem;
  height: 10rem;
  width: 46rem;
  border-bottom: black solid 1px;
  resize: none;
}

.btnformcontact {
  background-color: #205685;
  color: azure;
  height: 2.5rem;
  width: 6rem;
  margin-top: 2rem;
  margin-left: -40rem;
}
