.divcontainerform {
  background-image: url("https://images.pexels.com/photos/459261/pexels-photo-459261.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2rem;
}

.contactform {
  height: 42rem;
  width: 65rem;
  margin: 0 auto;
  font-family: "Quicksand";
  background-color: rgba(245, 245, 245, 0.54);
}

.telefono {
  font-size: 22px;
  color: #205685;
  font-family: "Quicksand";
  font-weight: 600;
}

.h1contact {
  font-family: "Quicksand";
  font-size: 38px;
  font-weight: 500;
  color: #205685;
}

.pcontact {
  color: #205685;
  font-family: "Quicksand";
  font-size: 18px;
}

input:invalid {
  background-color: #ea040429;
}

input:required:invalid {
  border: solid 1px;
  border-color: #ea0404;
}

p.danger {
  color: #ea0404;
  font-size: 14px;
  font-weight: 600;
  font-family: "Quicksand";
}

.titleform {
  font-family: "Quicksand";
  font-size: 32px;
  font-weight: 400;
  color: #205685;
}

.divformcontact {
  height: 10rem;
}

.inputcontactform {
  font-style: italic;
  height: 2rem;
  width: 22rem;
  margin: 1rem;
  background: none;
  border-bottom: black solid 1px;
}

.inputcontactform::placeholder {
  color: #16347e;
}

.mensajecontactform {
  font-style: italic;
  margin-top: 1rem;
  height: 10rem;
  width: 46rem;
  border-bottom: black solid 1px;
  background: none;
  resize: none;
}

.mensajecontactform::placeholder {
  color: #16347e;
}

.btnformcontact {
  background-color: #205685;
  color: azure;
  height: 2.5rem;
  width: 6rem;
  margin-top: 2rem;
  margin-left: -40rem;
}

@media only screen and (max-width: 400px) {
  .contactform {
    width: 100%;
  }
  .btnformcontact {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 576px) {
  .contactform {
    width: 100%;
  }
  .mensajecontactform {
    width: 100%;
  }
  .btnformcontact {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 900px) {
  .contactform {
    width: 100%;
  }
}
