.navbarlist {
  background-color: #dbedefa4;
  display: flex;
  flex-direction: row;
  list-style: none;
  height: 5em;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: center;
  gap: 30px;
  font-family: "Quicksand";
}

.navbaritems {
  margin: 15px 20px;
  color: #205685;
  cursor: pointer;
}

.navlinks {
  text-decoration: none;
}

@media only screen and (max-width: 576px) {
  .navbarlist {
    width: 100%;
    gap: 15px;
  }
  .navbaritems {
    margin-left: -15px;
    width: 100%;
    font-size: 14px;
  }
}

@media only screen and (max-width: 900px) {
  .navbarlist {
    width: 100%;
    gap: 15px;
  }
  .navbaritems {
    margin-left: -15px;
    width: 100%;
    font-size: 14px;
  }
}
